/*общие - начало*/
body{width: 100%;margin: 0 auto;padding: 0;}
.wrapper_inner {max-width: 1440px;  margin: 0 auto;  background: #fff;}
/*общие - конец*/

/*шапка - начало*/
#header .info_top{height:50px;background: #022149;}
/*шапка - конец*/